@media screen {
  /* non-configurable styles
	----------------------------------------------------------------- */
  .comment-respond,
  #quicksearch,
  .l-side-nav #quicksearch,
  .message,
  .single .content-area .meta,
  .single-event-schedule,
  .single-profile .profile-info {
    background: #f5f8ff;
    border-color: #dfdfea;
  }
  /* calendar table */
  .widget-calendar-picker thead,
  .widget-calendar-picker th,
  .widget-calendar-picker .out,
  .widget-calendar-picker .today {
    background: rgba(0, 0, 0, 0.15);
  }
  .utility-nav a,
  a:active,
  a:visited,
  .widget-title a,
  .widget-post-meta {
    color: inherit;
  }
}

@media screen {
  .l-side-nav .wrapper,
  .primary-nav,
  .primary-nav-menu ul,
  .l-side-nav {
    background: #000000;
  }
  .primary-nav-menu a,
  .primary-nav-menu li li a,
  .l-side-nav .primary-nav-menu a {
    color: #fff;
    border-color: #262626;
  }
  .primary-nav-menu a:hover, .primary-nav-menu a:focus,
  .primary-nav-menu li li a:hover,
  .primary-nav-menu li li a:focus,
  .l-side-nav .primary-nav-menu a:hover,
  .l-side-nav .primary-nav-menu a:focus {
    color: #1070e5;
  }
  .nav-toggle span,
  .search-toggle::before,
  .nav-toggle span::before,
  .nav-toggle span::after {
    color: #fff;
  }
  .l-side-nav .utility-nav a,
  .l-mega-nav .utility-nav a {
    color: #757575;
  }
  .l-side-nav .utility-nav a:hover, .l-side-nav .utility-nav a:focus,
  .l-mega-nav .utility-nav a:hover,
  .l-mega-nav .utility-nav a:focus {
    color: #999999;
  }
  .l-mega-nav .search-field {
    border-color: #fff;
  }
  .mega-nav-toggle {
    background: #333333;
    color: #599ef3;
  }
  .mega-nav-toggle:hover, .mega-nav-toggle:focus {
    color: #599ef3;
  }
}

@media screen {
  /* content area
	----------------------------------------------------------------- */
  /* heading color */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }
  /* text color */
  body {
    color: #555555;
  }
  /* link color */
  a,
  .widget a,
  .widget a:hover,
  .widget a:focus,
  .calendar-list-event-link,
  .calendar-list-event-link:focus,
  .bu_collapsible::before,
  .profile-name {
    color: #0f69d7;
  }
  /* link hover color */
  a:hover,
  .calendar-list-event-link:hover,
  .bu_collapsible:hover::before,
  .bu_collapsible:focus::before,
  .month td a:hover {
    color: #0f69d7;
  }
  input[type="submit"],
  .button,
  .button-primary,
  .button-selected,
  #quicksearch .button,
  .paging-navigation a,
  .archive-link {
    background-color: #0f69d7;
    color: #fff;
  }
  input[type="submit"]:hover,
  .button:hover,
  .button-primary:hover,
  .button-selected:hover,
  #quicksearch .button:hover,
  .paging-navigation a:hover,
  .archive-link:hover {
    color: #fff;
  }
  /* blockquotes */
  blockquote {
    border-color: #0f69d7;
  }
  blockquote:before {
    color: #0f69d7;
  }
}

/* End screen media query */
@media screen {
  /* sidebar area
	----------------------------------------------------------------- */
  /* widget border color */
  .widget-title,
  #contentnav ul,
  #contentnav li,
  .widget_nav_menu ul,
  .widget_nav_menu li,
  .widget-calendar-event,
  .month,
  .widget-calendar-picker th,
  .widget-calendar-picker td {
    border-color: #000000;
  }
  .widget-title {
    color: #000000;
  }
  /* text color */
  /* link color */
  .widget a,
  #contentnav li a,
  .widget_nav_menu li a {
    color: #0f69d7;
  }
  /* link hover color */
  /* buttons */
  .widget a.button,
  .widget a.button:hover,
  .widget a.button:focus,
  .widget a.button-primary,
  .widget a.button-primary:hover,
  .widget a.button-primary:focus {
    color: #ffffff;
  }
}

@media screen {
  /* background color */
  .footbar,
  .footbar-container,
  .banner-container-window-width {
    background: #f5f5f5;
  }
  /* top border color */
  .footbar {
    border-color: #cccccc;
  }
  /* link color */
  .footbar a,
  .footbar .widget a,
  .footbar #contentnav li a,
  .footbar .widget_nav_menu li a {
    color: #0f69d7;
  }
  /* widget title color */
  .footbar .widget-title,
  .footbar .widget-calendar-date {
    color: #000000;
  }
  /* border color */
  .footbar .widget-title,
  .footbar #contentnav ul,
  .footbar #contentnav li,
  .footbar .widget_nav_menu ul,
  .footbar .widget_nav_menu li,
  .footbar .widget-calendar-event {
    border-color: #000000;
  }
  /* link hover color */
  .footbar .widget a:hover,
  .footbar #contentnav li a:hover,
  .footbar .widget_nav_menu li a:hover {
    color: #0f69d7;
  }
  /* text color */
  .footbar .widget,
  .footbar .widget-calendar-day-graphic,
  .footbar .widget-bu-posts .meta {
    color: #555555;
  }
}
