body {
  font-family: "Benton-Sans", sans-serif;
}

h1,
h2,
h3,
.widget h3,
h4,
h5,
h6,
#q {
  font-family: "Benton-Sans", sans-serif;
}

.primary-nav-menu li a {
  font-family: "Benton-Sans", sans-serif;
  font-weight: 700;
}

.utility-nav li a {
  font-family: "Benton-Sans", sans-serif;
  font-weight: 400;
}

blockquote {
  background-color: #f0f0f0;
  border-color: #666;
  border-left: 0.45em solid;
  padding: 18px;
  position: relative;
}

blockquote::before {
  left: 14px;
  position: absolute;
  top: 2px;
}

blockquote > p:last-of-type {
  margin-bottom: 0;
}
