@font-face {
  font-family: "Benton";
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot");
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Benton";
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot");
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Benton";
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Benton";
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot");
  src: url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Capita";
  src: url("http://www.bu.edu/cdn/fonts/Capita-Bold/Capita-Bold.eot");
  src: url("http://www.bu.edu/cdn/fonts/Capita-Bold/Capita-Bold.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Capita-Bold/Capita-Bold.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Capita-Bold/Capita-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Capita";
  src: url("http://www.bu.edu/cdn/fonts/Capita-Bold-Italic/Capita-Bold-Italic.eot");
  src: url("http://www.bu.edu/cdn/fonts/Capita-Bold-Italic/Capita-Bold-Italic.eot?") format("embedded-opentype"), url("http://www.bu.edu/cdn/fonts/Capita-Bold-Italic/Capita-Bold-Italic.woff") format("woff"), url("http://www.bu.edu/cdn/fonts/Capita-Bold-Italic/Capita-Bold-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: 'Benton';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

p {
  font-family: 'Benton';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
}

h1 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 48px;
  line-height: 51px;
  margin-bottom: 22px;
}

h2 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  margin-bottom: 22px;
}

h3 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 33px;
  line-height: 36px;
  margin-bottom: 22px;
}

.widget h3 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 28px;
  line-height: 316px;
}

h4 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 22px;
}

h5 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 22px;
}

h6 {
  font-family: 'Capita';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 22px;
}


#q {
  font-family: 'Capita';
  font-size: 18px;
}

.primaryNav-menu li a {
  font-family: 'Capita';
  font-weight: 500;
  font-size: 17px;
}

.utilityNav li a {
  font-family: 'Capita';
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}
