@font-face {
  font-family: "Capita";
  src: url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Capita";
  src: url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Benton";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Benton";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Benton";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Benton";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
body {
  font-family: "Capita", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

p {
  font-family: "Capita", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}

h1 {
  font-family: "Benton", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  margin-bottom: 22px;
}

h2 {
  font-family: "Benton", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 22px;
}

h3 {
  font-family: "Benton", sans-serif;
  font-size: 33px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 22px;
}

.widget h3 {
  font-family: "Benton", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 31px;
}

h4 {
  font-family: "Benton", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 22px;
}

h5 {
  font-family: "Benton", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 22px;
}

h6 {
  font-family: "Benton", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 22px;
}

#q {
  font-family: "Benton", sans-serif;
  font-size: 18px;
}

.primaryNav-menu li a {
  font-family: "Benton", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.utilityNav li a {
  font-family: "Benton", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  font-size: 18px;
  line-height: 30px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.widget h3 {
  font-weight: 400;
}

.primaryNav-menu li a {
  font-weight: 400;
}

.utilityNav li a {
  font-family: "Capita", serif;
  font-style: italic;
}
