@font-face {
  font-family: "Capita";
  src: url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Capita";
  src: url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: "Capita", serif;
}

h1,
h2,
h3,
.widget h3,
h4,
h5,
h6,
#q {
  font-family: "Benton-Sans", sans-serif;
  font-weight: 400;
}

.primary-nav-menu li a {
  font-family: "Benton-Sans", sans-serif;
  font-weight: 400;
}

.utility-nav li a {
  font-family: "Benton-Sans", sans-serif;
  font-weight: 400;
}

body {
  font-size: 18px;
}

.utility-nav li a {
  font-family: "Capita", serif;
  font-style: italic;
}

blockquote {
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-size: 3em;
  left: -25px;
  position: absolute;
  top: -25px;
}
