@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular/019c3a13-b3d7-4c5a-be27-07a8334a43e6-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Regular-Italic/3295fa07-2a3f-4cd1-ba86-e06161453a51-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-2.eot?") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-3.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold-Italic/f037bfb1-69d7-4441-8d43-3b8c2c6e77d3-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "TiemposText";
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TiemposText";
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot");
  src: url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

body {
  font-family: "Benton-Sans", sans-serif;
}

h1,
h2,
h3,
.widget h3,
h4,
h5,
h6,
#q {
  font-family: "TiemposHeadline", serif;
}

.primary-nav-menu li a {
  font-family: "TiemposHeadline", serif;
  font-weight: 700;
}

.l-mega-nav .primary-nav .level_1 {
  font-weight: 700;
}

.utility-nav li a {
  font-family: "TiemposHeadline", serif;
  font-weight: 400;
}

input[type="submit"],
.button,
.button-primary,
.button-selected,
.paging-navigation a,
.archive-link,
.mega-nav-toggle {
  font-weight: 700;
}

#q {
  font-family: "TiemposText", serif;
  text-transform: uppercase;
}

.primary-nav-menu li a {
  font-family: "TiemposText", serif;
  font-weight: 400;
  font-size: 18px;
}

.utility-nav li a {
  font-family: "TiemposText", serif;
  font-style: italic;
}

blockquote {
  border-color: #eee;
  border-style: solid;
  border-width: 2px 0;
  padding: 1.25em 0;
  position: relative;
}

blockquote::before {
  background: #fff;
  content: "\201C";
  font-family: "TiemposHeadline", serif;
  font-size: 3em;
  font-weight: 700;
  left: 50%;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 12px;
  transform: translate(-50%, -50%);
  width: 40px;
}

blockquote > p:last-of-type {
  margin-bottom: 0;
}
