@media screen {
  /* non-configurable styles
	----------------------------------------------------------------- */
  .comment-respond,
  #quicksearch,
  .l-side-nav #quicksearch,
  .message,
  .single .content-area .meta,
  .single-event-schedule,
  .single-profile .profile-info {
    background: #f5f8ff;
    border-color: #dfdfea;
  }
  /* calendar table */
  .widget-calendar-picker thead,
  .widget-calendar-picker th,
  .widget-calendar-picker .out,
  .widget-calendar-picker .today {
    background: rgba(0, 0, 0, 0.15);
  }
  .utility-nav a,
  a:active,
  a:visited,
  .widget-title a,
  .widget-post-meta {
    color: inherit;
  }
}

@media screen {
  /* navigation bar and links
	----------------------------------------------------------------- */
  /* navbar bg color */
  /* main nav and nav border color */
  /* main nav and nav border color */
  /* utility nav color */
  /* main nav and utility nav hover color */
}

@media screen {
  /* content area
	----------------------------------------------------------------- */
  /* heading color */
  /* text color */
  /* link color */
  /* link hover color */
  /* buttons */
  /* blockquotes */
}

/* End screen media query */
@media screen {
  /* sidebar area
	----------------------------------------------------------------- */
  /* widget border color */
  /* text color */
  /* link color */
  /* link hover color */
  /* buttons */
}

@media screen {
  /* background color */
  /* top border color */
  /* link color */
  /* widget title color */
  /* border color */
  /* link hover color */
  /* text color */
}
