@media screen {
  /* non-configurable styles
	----------------------------------------------------------------- */
  .comment-respond,
  #quicksearch,
  .l-side-nav #quicksearch,
  .message,
  .single .content-area .meta,
  .single-event-schedule,
  .single-profile .profile-info {
    background: #f5f8ff;
    border-color: #dfdfea;
  }
  /* calendar table */
  .widget-calendar-picker thead,
  .widget-calendar-picker th,
  .widget-calendar-picker .out,
  .widget-calendar-picker .today {
    background: rgba(0, 0, 0, 0.15);
  }
  .utility-nav a,
  a:active,
  a:visited,
  .widget-title a,
  .widget-post-meta {
    color: inherit;
  }
}

@media screen {
  .l-side-nav .wrapper,
  .primary-nav,
  .primary-nav-menu ul,
  .l-side-nav {
    background: #24243a;
  }
  .primary-nav-menu a,
  .primary-nav-menu li li a,
  .l-side-nav .primary-nav-menu a {
    color: #fff;
    border-color: #414169;
  }
  .primary-nav-menu a:hover, .primary-nav-menu a:focus,
  .primary-nav-menu li li a:hover,
  .primary-nav-menu li li a:focus,
  .l-side-nav .primary-nav-menu a:hover,
  .l-side-nav .primary-nav-menu a:focus {
    color: #ecb438;
  }
  .nav-toggle span,
  .search-toggle::before,
  .nav-toggle span::before,
  .nav-toggle span::after {
    color: #fff;
  }
  .l-side-nav .utility-nav a,
  .l-mega-nav .utility-nav a {
    color: #8989b6;
  }
  .l-side-nav .utility-nav a:hover, .l-side-nav .utility-nav a:focus,
  .l-mega-nav .utility-nav a:hover,
  .l-mega-nav .utility-nav a:focus {
    color: #bbbbd5;
  }
  .l-mega-nav .search-field {
    border-color: #fff;
  }
  .mega-nav-toggle {
    background: #6cd5b5;
    color: #000;
  }
  .mega-nav-toggle:hover, .mega-nav-toggle:focus {
    color: #000;
  }
}

@media screen {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #258366;
  }
  body {
    color: #0f3328;
  }
  a,
  .widget a,
  .widget a:hover,
  .widget a:focus,
  .calendar-list-event-link,
  .calendar-list-event-link:focus,
  .bu_collapsible::before,
  .profile-name,
  .month td a {
    color: #966c0e;
  }
  a:hover, a:focus,
  .widget a:hover,
  .widget a:focus,
  .widget a:hover:hover,
  .widget a:hover:focus,
  .widget a:focus:hover,
  .widget a:focus:focus,
  .calendar-list-event-link:hover,
  .calendar-list-event-link:focus,
  .calendar-list-event-link:focus:hover,
  .calendar-list-event-link:focus:focus,
  .bu_collapsible::before:hover,
  .bu_collapsible::before:focus,
  .profile-name:hover,
  .profile-name:focus,
  .month td a:hover,
  .month td a:focus {
    color: #0f3328;
  }
  input[type="submit"],
  .button,
  .button-primary,
  .button-selected,
  #quicksearch .button,
  .paging-navigation a,
  .archive-link {
    background-color: #6cd5b5;
    color: #000;
  }
  input[type="submit"]:hover, input[type="submit"]:focus,
  .button:hover,
  .button:focus,
  .button-primary:hover,
  .button-primary:focus,
  .button-selected:hover,
  .button-selected:focus,
  #quicksearch .button:hover,
  #quicksearch .button:focus,
  .paging-navigation a:hover,
  .paging-navigation a:focus,
  .archive-link:hover,
  .archive-link:focus {
    color: #000;
  }
  blockquote {
    border-color: #ecb438;
  }
  blockquote:before {
    color: #ecb438;
  }
}

@media screen {
  .widget {
    background: #383859;
    padding: 24px;
  }
  .footbar .widget {
    background: transparent;
    padding: 0;
  }
  .widget-title,
  #contentnav ul,
  #contentnav li,
  .widget_nav_menu ul,
  .widget_nav_menu li,
  .widget-calendar-event,
  .month,
  .widget-calendar-picker th,
  .widget-calendar-picker td,
  .widget_links li,
  .widget_archive li {
    border-color: #9c9cc1;
  }
  .widget-title {
    color: #fff;
  }
  .widget,
  .widget-calendar-picker th,
  .widget-calendar-picker caption {
    color: #fafafc;
  }
  .widget a,
  #contentnav li a,
  .widget_nav_menu li a,
  #contentnav li.current_page_item > a,
  .widget_nav_menu li.current_page_item > a {
    color: #ecb438;
  }
  .widget a:hover, .widget a:focus,
  #contentnav li a:hover,
  #contentnav li a:focus,
  .widget_nav_menu li a:hover,
  .widget_nav_menu li a:focus,
  #contentnav li.current_page_item > a:hover,
  #contentnav li.current_page_item > a:focus,
  .widget_nav_menu li.current_page_item > a:hover,
  .widget_nav_menu li.current_page_item > a:focus {
    color: #fff;
  }
  .widget a.button,
  .widget a.button-primary {
    background: #6cd5b5;
    color: #000;
  }
  .widget a.button:hover, .widget a.button:focus,
  .widget a.button-primary:hover,
  .widget a.button-primary:focus {
    color: #000;
  }
}

@media screen {
  .footbar,
  .footbar-container,
  .banner-container-window-width {
    background: #24243a;
  }
  .footbar {
    border-color: #24243a;
  }
  .footbar a,
  .footbar .widget a,
  .footbar #contentnav li a,
  .footbar .widget_nav_menu li a {
    color: #ecb438;
  }
  .footbar a:hover, .footbar a:focus,
  .footbar .widget a:hover,
  .footbar .widget a:focus,
  .footbar #contentnav li a:hover,
  .footbar #contentnav li a:focus,
  .footbar .widget_nav_menu li a:hover,
  .footbar .widget_nav_menu li a:focus {
    color: #fff;
  }
  .footbar .widget-title,
  .footbar .widget-calendar-date {
    color: #fff;
  }
  .footbar .widget-title,
  .footbar #contentnav ul,
  .footbar #contentnav li,
  .footbar .widget_nav_menu ul,
  .footbar .widget_nav_menu li,
  .footbar .widget-calendar-event {
    border-color: #414169;
  }
  .footbar .widget,
  .footbar .widget-calendar-day-graphic,
  .footbar .widget-bu-posts .meta {
    color: #dbdbe8;
  }
}
