backstop_data/*
!backstop_data/engine_scripts
!backstop_data/bitmaps_reference

npm-debug.log
node_modules
.sass-cache
.DS_Store
bower_components

sftp-config.json
.eslintignore
.eslintrc
.scss-lint.yml
.mdlrc
markdown.rb
build
