<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
		</whitelist>
		<blacklist>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./bower_components/</directory>
			<directory suffix=".php">./node_modules/</directory>
			<directory suffix=".php">./vendor/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
