@font-face {
	font-family: "Capita";
	src: url( "https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.eot?" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.woff" ) format( "woff" ), url( "https://www.bu.edu/cdn/fonts/Capita-Regular/Capita-Regular.ttf" ) format( "truetype" );
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Capita";
	src: url( "https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.eot?" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.woff" ) format( "woff" ), url( "https://www.bu.edu/cdn/fonts/Capita-Italic/Capita-Italic.ttf" ) format( "truetype" );
	font-style: italic;
	font-weight: 400;
}
