@font-face {
	font-family: "Pressura";
	src: url( "https://www.bu.edu/cdn/fonts/Pressura-Bold/Pressura-Bold.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/Pressura-Bold/Pressura-Bold.eot?" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/Pressura-Bold/Pressura-Bold.woff" ) format( "woff" ), url( "https://www.bu.edu/cdn/fonts/Pressura-Bold/Pressura-Bold.ttf" ) format( "truetype" );
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Pressura";
	src: url( "https://www.bu.edu/cdn/fonts/Pressura-Bold-Italic/Pressura-Bold-Italic.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/Pressura-Bold-Italic/Pressura-Bold-Italic.eot?" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/Pressura-Bold-Italic/Pressura-Bold-Italic.woff" ) format( "woff" ), url( "https://www.bu.edu/cdn/fonts/Pressura-Bold-Italic/Pressura-Bold-Italic.ttf" ) format( "truetype" );
	font-style: italic;
	font-weight: 700;
}
