$font-heading: sans-serif !default;
$font-body: serif !default;

body {
	font-family: $font-body;
}

h1 {
	font-family: $font-heading;
	font-size: 48px;
	line-height: 51px;
	margin-bottom: 22px;
}

h2 {
	font-family: $font-heading;
	font-size: 40px;
	line-height: 43px;
	margin-bottom: 22px;
}

h3 {
	font-family: $font-heading;
	font-size: 33px;
	line-height: 36px;
	margin-bottom: 22px;
}

.widget h3 {
	font-family: $font-heading;
	font-size: 28px;
	line-height: 31px;
}

h4 {
	font-family: $font-heading;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 22px;
}

h5 {
	font-family: $font-heading;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 22px;
}

h6 {
	font-family: $font-heading;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 22px;
}

#q {
	font-family: $font-heading;
	font-size: 18px;
}

.primaryNav-menu li a {
	font-family: $font-heading;
	font-size: 16px;
	font-weight: 700;
}

.utilityNav li a {
	font-family: $font-heading;
	font-size: 16px;
	font-weight: 400;
}
