@font-face {
	font-family: "TiemposHeadline";
	src: url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.eot?#iefix" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold.woff" ) format( "woff" );
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "TiemposHeadline";
	src: url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.eot?#iefix" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/TiemposHeadline/TiemposHeadline-Bold-Italic.woff" ) format( "woff" );
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "TiemposText";
	src: url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.eot?#iefix" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular.woff" ) format( "woff" );
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "TiemposText";
	src: url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot" );
	src: url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.eot?#iefix" ) format( "embedded-opentype" ), url( "https://www.bu.edu/cdn/fonts/TiemposText/TiemposText-Regular-Italic.woff" ) format( "woff" );
	font-style: italic;
	font-weight: 400;
}
