@import 'fonts/benton';

body {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}

p {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 24px;
}

h1 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 48px;
	line-height: 51px;
	margin-bottom: 22px;
}

h2 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 40px;
	line-height: 43px;
	margin-bottom: 22px;
}

h3 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 33px;
	line-height: 36px;
	margin-bottom: 22px;
}

.widget h3 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 28px;
	line-height: 31px;
}

h4 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 22px;
}

h5 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 22px;
}

h6 {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 22px;
}

#q {
	font-family: 'Benton';
	font-size: 18px;
}

.primaryNav-menu li a {
	font-family: 'Benton';
	font-weight: 700;
	font-size: 16px;
}

.utilityNav li a {
	font-family: 'Benton';
	font-weight: 400;
	font-size: 16px;
}
