$font-heading: "Benton-Sans", sans-serif;
$font-body: "Benton-Sans", sans-serif;

@import "fonts/benton";
@import "fonts/shared";

blockquote {
	position: relative;
	border-left: 0.45em solid;
	border-color: #666; // Default grey will be overwritten by inc/customizer.php if colors customized
	background-color: #f0f0f0; // color contrast with text (#24243a) = 13.27:1, passes WCAG AAA;
	&:before {
		position: absolute;
		left: 14px;
		top: 2px;
	}
	&>p {
		padding: 0 18px;
	}
	&>p:first-of-type {
		padding-top: 18px; // Provides top padding for first paragraph of blockquote to fill out gray box.
	}
	&>p:last-of-type {
		padding-bottom: 18px; // Provides bottom padding for last paragraph of blockquote to fill out gray box.
	}
}
