$_font-heading: "Capita", serif;
$_font-body: "Benton", sans-serif;

@import "fonts/benton";
@import "fonts/capita-bold";
@import "fonts/shared";

.primaryNav-menu li a {
	font-weight: 500;
	font-size: 17px;
}

.utilityNav li a {
	font-style: italic;
}