$_font-heading: "Benton", sans-serif;
$_font-body: "Capita", serif;

@import "fonts/capita";
@import "fonts/benton";
@import "fonts/shared";

body {
	font-size: 18px;
	line-height: 30px;
}

p {
	font-size: 18px;
	line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

.widget h3 {
	font-weight: 400;
}

.primaryNav-menu li a {
	font-weight: 400;
}

.utilityNav li a {
	font-family: $_font-body;
	font-style: italic;
}
