$palette-id: 'f3';

@import 'fonts/capita';
@import 'fonts/benton';
@import 'palettes';
@import 'fonts/shared';

body {
	font-size: 18px;
}

.utility-nav li a {
	font-family: $body-stack;
	font-style: italic;
}

blockquote {
	position: relative;

	&::before {
		content: "\201C"; // Unicode for Left Double Quote
		font-size: 3em;
		left: -25px;
		position: absolute;
		top: -25px;
	  	// quote color will be set by inc/customizer.php if colors customized
	}
}
