$palette-id: 'f4';

$font-body-accent: "TiemposText", serif;

@import 'fonts/benton';
@import 'fonts/tiempos';
@import 'palettes';
@import 'fonts/shared';

#q {
	font-family: $font-body-accent;
	text-transform: uppercase;
}

.primary-nav-menu li a {
	font-family: $font-body-accent;
	font-weight: 400;
	font-size: 18px;
}

.utility-nav li a {
	font-family: $font-body-accent;
	font-style: italic;
}

blockquote {
	border-color: #eee; // Default light grey will be overwritten by inc/customizer.php if colors customized
	border-style: solid;
	border-width: 2px 0;
	padding: 1.25em 0; // top padding ensures white backround doesn't overlay ascenders in bquote text first p
	position: relative;

	&::before {
		background: #fff;
		content: "\201C";
		font-family: $heading-stack;
		font-size: 3em;
		font-weight: 700;
		left: 50%;
		line-height: 30px; // ensures white backround doesn't overlay bquote text
		position: absolute;
		text-align: center;
		top: 12px;
		transform: translate( -50%, -50% );
		width: 40px;
		// quote color will be set by inc/customizer.php if colors customized
	}

	>p:last-of-type {
		margin-bottom: 0; // equalizes top and bottom space between bquote and horizontal lines
	}
}
