$font-heading: "TiemposHeadline", serif;
$font-body: "Benton-Sans", sans-serif;
$font-body-accent: "TiemposText", serif;

@import "fonts/benton";
@import "fonts/tiempos";
@import "fonts/shared";

#q {
	font-family: $font-body-accent;
	text-transform: uppercase;
}

.primary-nav-menu li a {
	font-family: $font-body-accent;
	font-weight: 400;
	font-size: 18px;
}

.utility-nav li a {
	font-family: $font-body-accent;
	font-style: italic;
}
