$font-heading: "Pressura", sans-serif;
$font-body: "Benton", sans-serif;

@import "fonts/benton";
@import "fonts/pressura";
@import "fonts/shared";

h1,
h2,
h3,
.widget h3,
h4,
h5,
h6,
#q {
	text-transform: uppercase;
}

.primaryNav-menu li a {
	font-size: 18px;
	text-transform: uppercase;
}

.utilityNav li a {
	font-family: $font-body;
	font-style: italic;
}
