/* START: customizer styles
----------------------------------------------------------------- */

.f1 h1, .f1 h2, .f1 h3, .f1 h4, .f1 h5, .f1 h6 {
	font-family: 'Whitney SSm A', 'Whitney SSm B';
}

.f1 p {
	font-family: 'Whitney SSm A', 'Whitney SSm B';
}

.f2 h1, .f2 h2, .f2 h3, .f2 h4, .f2 h5, .f2 h6 {
	font-family: 'Arial', 'Arial';
}

.f2 p {
	font-family: 'Arial', 'Arial';
}

.f3 h1, .f3 h2, .f3 h3, .f3 h4, .f3 h5, .f3 h6 {
	font-family: 'Helvetica', 'Helvetica';
}

.f3 p {
	font-family: 'Helvetica', 'Helvetica';
}

.f4 h1, .f4 h2, .f4 h3, .f4 h4, .f4 h5, .f4 h6 {
	font-family: 'Times New Roman', 'Times New Roman';
}

.f4 p {
	font-family: 'Times New Roman', 'Times New Roman';
}

.f5 h1, .f5 h2, .f5 h3, .f5 h4, .f5 h5, .f5 h6 {
	font-family: 'Georgia', 'Georgia';
}

.f5 p {
	font-family: 'Georgia', 'Georgia';
}

/* END: customizer styles
----------------------------------------------------------------- */