/* START: customizer styles
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

/* font group 1: benton-sans */
.f1 {
	font-family: 'Benton-Sans';
	font-weight: 400;
}

.f1 p {
	font-family: 'Benton-Sans';
	font-weight: 400;
}

.f1 h1, .f1 h2, .f1 h3, .f1 h4, .f1 h5, .f1 h6 {
	font-family: 'Benton-Sans';
	font-weight: 700;
}

/* font group 2: stag */
.f2 {
	font-family: 'Stag';
	font-weight: 400;
}

.f2 p {
	font-family: 'Stag';
	font-weight: 400;
}

.f2 h1, .f2 h2, .f2 h3, .f2 h4, .f2 h5, .f2 h6 {
	font-family: 'Stag';
	font-weight: 500;
}

/* END: customizer styles
----------------------------------------------------------------- */