/* START: global
----------------------------------------------------------------- */

body {
	font-family: $font-body;
	background: #f1f1f1;
}

/* END: global
----------------------------------------------------------------- */




/* START: Typography
----------------------------------------------------------------- */

p {
	font-size:16px;
}

h1 {
	font-size:33px;
}

h2 {
	font-size:26px;
}

h3 {
	font-size:23px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:18px;
}

h6 {
	font-size:16px;
}

/* END: Typography
----------------------------------------------------------------- */





/* START: header
----------------------------------------------------------------- */

header {
	padding:40px 40px 70px 40px;

	#siteName {
		font-family: $font-branding; 
		font-weight: 600; 
		font-style: normal;
		float: left;
	
		span {
			font-family: $font-branding; 
			font-weight: 400; 
			font-style: normal;
		}
	
	}
	
	.desc {
		float:left;
	}

	#searchform {
		float:right;
	}
}

/* nav */
nav {
	background: #111111;

	li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		
		a {
			color: #7A7A7A;
			text-decoration: none;
			font-weight: 700;
			display:block;
			padding:10px 0;
			line-height:18px;
		}
		
			a:hover {
				color:#fff;
			}
		
		.current-menu-item a {
			color: #FFFFFF;
		}	
	}
}

/* left sidenav */
body.l-sidenav {
	padding-left:300px;
	
	nav {
		position: fixed;
		left: 0;
		top:0;
		height: 100%;
		width: 300px;
		
		ul {
			margin: 111px 40px 40px 40px;
			border-top: 1px solid #2e2e2e;
			
			li {
				display:block;
				
				a {
					border-bottom: 1px solid #2e2e2e;
				}
			}			
		}
		
	}
}

@media (max-width: $S) {
	body.l-sidenav {
		padding-left:50px;
		
		nav {
			width: 50px;	
			
			ul {
				display:none;
			}
		}
	}
}

/* END: header
----------------------------------------------------------------- */





/* START: content
----------------------------------------------------------------- */

.banner-container {
	text-align: center;
	padding:0;
}

	.banner-container img {
		width: 100%;
		height: auto;
	}
	
.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin:0 auto;
}
	
.row {
	margin:0 0 20px 0;

	.row:before,
	.row:after {
		display: table;
		content: " ";
	}

	.row:after {
			clear: both;
		}

	.row {
		margin-top: 10px;
		margin-bottom: 40px;	
		[class*="col-"] {
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #eee;
			border: 1px solid #ddd;
			background-color: rgba(121,121,121,.15);
			border: 1px solid rgba(68,68,68,.2);
			@include border-radius(0);
		}
	}
}

footer {
	display: block;
	clear: both;
}

/* END: content
----------------------------------------------------------------- */




/* START: sidebar
----------------------------------------------------------------- */

#right-content-area .widget {
	background:#fff;
	border:1px solid #ccc;
	padding:20px;
}

/* END: sidebar
----------------------------------------------------------------- */





/* START: footer
----------------------------------------------------------------- */

footer {
	background: #000;
	padding:20px;
	
	p {
		margin:0;
		color:#fff;
	}
}

/* END: footer
----------------------------------------------------------------- */





/* START: grid
----------------------------------------------------------------- */

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10,
.col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-10, .col-lg-11, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

/* small screens */
@media (min-width: $S) {
	.container {
		max-width: 750px;
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
	.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
	.col-sm-11 {
		float: left;
	}
	
	.col-sm-1 {
		width: 8.333333333333332%;
	}
	
	.col-sm-2 {
		width: 16.666666666666664%;
	}
	
	.col-sm-3 {
		width: 25%;
	}
	
	.col-sm-4 {
		width: 33.33333333333333%;
	}
	
	.col-sm-5 {
		width: 41.66666666666667%;
	}
	
	.col-sm-6 {
		width: 50%;
	}
	
	.col-sm-7 {
		width: 58.333333333333336%;
	}
	
	.col-sm-8 {
		width: 66.66666666666666%;
	}
	
	.col-sm-9 {
		width: 75%;
	}
	
	.col-sm-10 {
		width: 83.33333333333334%;
	}
	
	.col-sm-11 {
		width: 91.66666666666666%;
	}
	
	.col-sm-12 {
		width: 100%;
	}
}

/* medium screens */
@media (min-width: $M) {
	.container {
		max-width: 970px;
	}
	
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
	.col-md-11 {
		float: left;
	}
	
	.col-md-1 {
		width: 8.333333333333332%;
	}
	
	.col-md-2 {
		width: 16.666666666666664%;
	}
	
	.col-md-3 {
		width: 25%;
	}
	
	.col-md-4 {
		width: 33.33333333333333%;
	}
	
	.col-md-5 {
		width: 41.66666666666667%;
	}
	
	.col-md-6 {
		width: 50%;
	}
	
	.col-md-7 {
		width: 58.333333333333336%;
	}
	
	.col-md-8 {
		width: 66.66666666666666%;
	}
	
	.col-md-9 {
		width: 75%;
	}
	
	.col-md-10 {
		width: 83.33333333333334%;
	}
	
	.col-md-11 {
		width: 91.66666666666666%;
	}
	
	.col-md-12 {
		width: 100%;
	}
}

/* large screens */
@media (min-width: $L) {
	.container {
		max-width: 1170px;
	}
	
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
	.col-lg-11 {
		float: left;
	}
	
	.col-lg-1 {
		width: 8.333333333333332%;
	}
	
	.col-lg-2 {
		width: 16.666666666666664%;
	}
	
	.col-lg-3 {
		width: 25%;
	}
	
	.col-lg-4 {
		width: 33.33333333333333%;
	}
	
	.col-lg-5 {
		width: 41.66666666666667%;
	}
	
	.col-lg-6 {
		width: 50%;
	}
	
	.col-lg-7 {
		width: 58.333333333333336%;
	}
	
	.col-lg-8 {
		width: 66.66666666666666%;
	}
	
	.col-lg-9 {
		width: 75%;
	}
	
	.col-lg-10 {
		width: 83.33333333333334%;
	}
	
	.col-lg-11 {
		width: 91.66666666666666%;
	}
	
	.col-lg-12 {
		width: 100%;
	}
}

/* END: grid
----------------------------------------------------------------- */





