/* START: global
----------------------------------------------------------------- */

/*
body {
	background: #f1f1f1;
}
*/

/* END: global
----------------------------------------------------------------- */




/* START: Typography
----------------------------------------------------------------- */

p {
	font-size:16px;
}

h1 {
	font-size:33px;
}

h2 {
	font-size:26px;
}

h3 {
	font-size:23px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:18px;
}

h6 {
	font-size:16px;
}

/* END: Typography
----------------------------------------------------------------- */





/* START: header area
----------------------------------------------------------------- */

/* header
------------------------ */

header {
	padding:0;
	background: #fff;
	
	#brand {
		padding:20px;
		
		#siteName {
			font-family: $font-branding; 
			font-weight: 600; 
			font-style: normal;
			text-decoration: none;
			color:#000;
		
			span {
				font-family: $font-branding; 
				font-weight: 400; 
				font-style: normal;
			}
		}
		
		.searchToggle {
			display:none;
			
			.p1,
			.p2 {
				fill: #000;
			}
		}
		
		.desc {
			display: inline;
		}
		
		@include breakpoint(small) { 
			padding:40px;
		}
	}
	
	@include clearfix;
}

/* /header
------------------------ */



/* nav
------------------------ */

/* above & below navbar setting */
nav {
	background: #151515;
	display: block;
	padding: 10px 15px;
	
	/* content nav list */
	ul {
		margin: 0;
		display:none;
		border-bottom: 1px solid rgba(255,255,255,.15);
		
		li {
			zoom: 1;
			border-top: 1px solid rgba(255,255,255,.15);
			display:block;
			padding:0 10px;
			
			a {
				color: #7A7A7A;
				text-decoration: none;
				display:block;
				padding:10px 0;
				line-height:18px;
				font-weight: 500;
			}
			
			a:hover {
				color:#fff;
			}
			
			.current-menu-item a {
				color: #fff;
			}	
		}
	}
	
	/* menu icon */
	.navToggle {
		width:35px;
		height:35px;
		float:left;
		
		.r1,
		.r2,
		.r3 {
			fill:#fff;
		}
		
		@include breakpoint(small) {
			display: none;
		}	
	}
	
	@include clearfix;
	@include breakpoint(small) {
		padding:10px 30px;
		
		ul {
			display:inline;
			border:none;
			
			li {
				display: inline-block;
				*display: inline;
				border:none;
			}
		}
	}
}

nav.open {		
	
	ul {
		display:block;
		clear:left;
		padding-top:10px;
	}
}
	
/* left navbar setting */
body.l-sidenav {

	.search {
		@include breakpoint(extra_small) {
			border-top:1px solid rgba(0,0,0,.15);
			border-bottom:1px solid rgba(0,0,0,.15);
			font-size:24px;
		}
	}
	
	.quicksearch.open {	
		@include breakpoint(extra_small) {
			background: #fff;
		}
	}
	
	@include breakpoint(extra_small) { 
	    padding-left:50px;
	
		header {
			
			nav {
				position: fixed;
				z-index: 100;
				left: 0;
				top:0;
				height: 100%;
				width:50px;
				
				.navToggle {
					position: absolute;
					top:15px;
					left:7px;
				}
				
				.searchToggle {
					display:none;
				}			
			}
			
			nav.open {		
				width:300px;
			}
			
			#brand {
				.searchToggle {
					display:block;
				}
			}
		}
	}
	
	@include breakpoint(small) { 
	    padding-left:300px;
		
		header {
			
			nav {
				width: 300px;
				padding-top:27px;
				
				ul {
					display: block;
					border-top: 1px solid rgba(255,255,255,.15);
					
					li {
						display: block;
						border-bottom: 1px solid rgba(255,255,255,.15);
					}
				}
			}
		}
	}
}

body.l-sidenav.navopen {
	@include breakpoint(extra_small) { 
	    padding-left:300px;
	}
}

/* /nav
------------------------ */





/* search
------------------------ */

.quicksearch {
	display: none;
	padding:0 15px 20px 15px;
	margin:0;
	position: relative;
	background: #151515;
	
	fieldset {
		margin:0;
	}
	
	label {
		display:none;
	}
	
	.search {
		background: none;
		border:none;
		border-top:1px solid rgba(255,255,255,.15);
		border-bottom:1px solid rgba(255,255,255,.15);
		width:100%;
		padding:10px 0;
		color:#fff;
		font-size:18px;
	}
	
	.button {
		position: absolute;
		border:none;
		right:20px;;
		top:12px;
		background:transparent;
		text-indent:-9000px;
		width: 35px;
		height: 35px;
	}
	
	@include breakpoint(small) {
		padding:0 40px 20px 40px;
	}
}

.quicksearch.open {
	display: block;
}

.searchToggle {
	float:right;
	width:35px;
	height:35px;
	
	.p1,
	.p2 {
		fill: #fff;
	}
	
	@include breakpoint(small) { 
		margin-top:-5px;	
	}
}

/* /search
------------------------ */

/* END: header area
----------------------------------------------------------------- */





/* START: .banner-container 
----------------------------------------------------------------- */

.banner-container {
	text-align: center;
	padding:0;
	
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin:0 auto;
	}
	
	@include breakpoint(small) {
		margin-bottom:20px;
	}
	
	@include breakpoint(medium) {
		background: #333;
		padding:20px;
	}
}

.page-width {
	margin-bottom:20px;
	
	img {
		@include breakpoint(medium) {
			background: #333;
			width:100%;
		}	
	}	
}

.content-width {
	background:none;
	padding:0;
	margin-bottom:20px;
}

/* END: .banner-container
----------------------------------------------------------------- */





/* Start: page content
----------------------------------------------------------------- */

/* .container
------------------------ */

.container  {
	padding: 20px;
	width: 100%;
	margin:0 auto;
	@include clearfix;
}

/* /.container
------------------------ */





/* .row
------------------------ */	

.row {
	margin:0 0 20px 0;

	[class*="col-"] {
		padding: 20px;
		background-color: rgba(255,255,255,.35);
		border: 1px solid rgba(0,0,0,.15);
		@include border-radius(0);
	}
}

.row:before,
.row:after {
	display: table;
	content: " ";
}

.row:after {
	clear: both;
}

.row .row:nth-last-of-type(1) {
	margin-bottom:0;
}

/* /.row
------------------------ */	




/* article
------------------------ */

article {
	header {
		background: none;
	}
	
	footer {
		background: none;
		border:none;
		
		p {
			color:#000;
		}
		
	}
}

/* /article
------------------------ */	




/* tables
------------------------ */	

table {
	width: 100%;
	table-layout: fixed;
}

th, td {
	text-align: left;
	padding:20px;
}

table col[class*="col-"] {
	display: table-column;
	float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
	display: table-cell;
	float: none;
}

/* /tables
------------------------ */	





/* inline images
------------------------ */	

img {
	.alignright {
		float:right;
		margin:.0 0 10px 10px;
	}
	
	.alignleft {
		float:left;
		margin:0 10px 10px 0;
	}
	
	.aligncenter {
		display: block;
		margin:0 auto 10px;
	}
}

div {
	.alignright {
		float:right;
		margin:0 0 10px 10px;
		background:#fff;
		width:auto !important;
		padding:10px;
		max-width: 100%;
			
			p {
				margin-bottom:0;
			}

			img {
				margin-bottom:5px;
			}
	}
	
	.alignleft {
		float:left;
		margin:0 10px 10px 0;
		background:#fff;
		width:auto !important;
		padding:10px;
		max-width: 100%;
			
			p {
				margin-bottom:0;
			}
			
			img {
				margin-bottom:5px;
			}
	}
	
	.aligncenter {
		margin: 0 auto;
		background:#fff;
		padding:10px;
		max-width: 100%;
			
			p {
				margin-bottom:0;
			}
			
			img {
				margin-bottom:5px;
			}
	}
}

.wp-caption {
	p {
		color:#939b9f;
		clear:both;
	}
	
	img {
		margin-bottom:10px;
		margin-top:0;
	}	
}

/* /inline images
------------------------ */	

/* END: page content
----------------------------------------------------------------- */





/* START: sidebar
----------------------------------------------------------------- */

#right-content-area {
	
	.widget {
		background-color: rgba(255,255,255,1);
		border: 1px solid rgba(0,0,0,.15);
		padding:20px;
		margin-bottom:20px;
	}
	
	@include breakpoint(medium) {
		padding:0 0 0 20px;
	}
}

/* END: sidebar
----------------------------------------------------------------- */





/* START: #bottom-content-area
----------------------------------------------------------------- */

#bottom-content-area {
	background: #222222;
	clear:left;
	width:100%;
	
	div {
		margin:0 auto;
		@include clearfix;
		@include breakpoint(medium) { 
			padding:20px;
			overflow:hidden;
		}
	}
	
	.widget {
		color:rgba(255,255,255,.5);
		border-top:1px solid rgba(255,255,255,.15);
		padding:20px;
		
		h3 {
			color:#fff;
		}
		
		.textwidget {
			padding:0;
		}
		
		@include breakpoint(medium) { 
			float:left;
			width:33.333%;
			border:none;
			border-right: 1px solid rgba(255,255,255,.15);
			padding:0 20px 1000px 20px;
			margin-bottom: -1000px;
		}
	}
	
	.widget-first {
		@include breakpoint(medium) { 
			border-left: 1px solid rgba(255,255,255,.15);
		}
	}
	
	@include breakpoint(medium) {
		padding:20px 0;
	}
	@include clearfix;
}

/* END: #bottom-content-area
----------------------------------------------------------------- *





/* START: footer
----------------------------------------------------------------- */

footer {
	background: #000;
	border-top:1px solid #424242;
	padding:20px;
	display: block;
	clear: both;
	
	p {
		margin:0;
		color:#fff;
	}
	
	@include breakpoint(small) { 
		padding:40px;
	}
}

/* END: footer
----------------------------------------------------------------- */