/* START: something
----------------------------------------------------------------- */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin breakpoint($point) {
    @if $point == extra_small {
        @media (min-width: $XS) { @content; }
    }
    @if $point == small {
        @media (min-width: $S) { @content; }
    }
    @if $point == medium {
        @media (min-width: $M) { @content; }
    }
    @if $point == large {
        @media (min-width: $L) { @content; }
    }
}

