/* START: group 1 (headings / body): capita / benton
----------------------------------------------------------------- */

a {
	text-decoration: none;
}

a:hover,
a:focus
a:active {
	text-decoration: underline;
}



/* START: group 1 (headings / body): capita / benton
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

.f1 {
	font-family: 'Benton';
	font-weight: 400;
	font-size:16px;
	line-height:28px;
	
	p {
		font-family: 'Benton';
		font-weight: 400;
		font-size:16px;
		line-height:28px;
		margin-bottom: 24px;
	}
	
	h1 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:40px;
		line-height:43px;
		margin-bottom: 22px;
	}
	
	h2 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:33px;
		line-height:36px;
		margin-bottom: 22px;
	}
	
	h3 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:28px;
		line-height:31px;
		margin-bottom: 22px;
	}

		.widget h3 {
			font-size: 23px;
			line-height: 26px;
		}
		
	h4 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:24px;
		line-height:27px;
		margin-bottom: 22px;
	}
	
	h5 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:23px;
		line-height:26px;
		margin-bottom: 22px;
	}
	
	h6 {
		font-family: 'Capita';
		font-weight: 700;
		font-size:18px;
		line-height:21px;
		margin-bottom: 22px;
	}
	
	#q {
		font-family: 'Capita';
		font-size:18px;
	}
	
	#nav li a {
		font-family: 'Capita';
		font-weight: 500;
		font-size:18px;
	}
	
	#utility li a {
		font-family: 'Capita';
		font-weight: 400;
		font-size:16px;
		font-style: italic;
	}	
}





/* START: group 2 (headings / body): benton / benton
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

.f2 {
	font-family: 'Benton';
	font-weight: 400;
	font-size:16px;
	line-height:28px;
	
	p {
		font-family: 'Benton';
		font-weight: 400;
		font-size:16px;
		line-height:28px;
		margin-bottom: 24px;
	}
	
	h1 {
		font-family: 'Benton';
		font-weight: 400;
		font-size:35px;
		line-height:38px;
		margin-bottom: 22px;
	}
	
	h2 {
		font-family: 'Benton';
		font-weight: 400;
		font-size:29px;
		line-height:32px;
		margin-bottom: 22px;
	}
	
	h3 {
		font-family: 'Benton';
		font-weight: 400;
		font-size:25px;
		line-height:28px;
		margin-bottom: 22px;
	}

		.widget h3 {
			font-size: 18px;
			line-height: 21px;
		}
	
	h4 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:20px;
		line-height:23px;
		margin-bottom: 22px;
	}
	
	h5 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:18px;
		line-height:21px;
		margin-bottom: 22px;
	}
	
	h6 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:16px;
		line-height:19px;
		margin-bottom: 22px;
	}
	
	#q {
		font-family: 'Benton';
		font-size:18px;
	}
	
	#nav li a {
		font-family: 'Benton';
		font-weight: 400;
		font-size:16px;
	}
	
	#utility li a {
		font-family: 'Capita';
		font-weight: 400;
		font-size:16px;
		font-style: italic;
	}	
}





/* START: group 3 (headings / body): benton / capita
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

.f3 {
	font-family: 'Capita';
	font-weight: 400;
	font-size:18px;
	line-height:30px;
	
	p {
		font-family: 'Capita';
		font-weight: 400;
		font-size:18px;
		line-height:30px;
		margin-bottom: 24px;
	}
	
	h1 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:33px;
		line-height:36px;
		margin-bottom: 22px;
	}
	
	h2 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:26px;
		line-height:29px;
		margin-bottom: 22px;
	}
	
	h3 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:23px;
		line-height:26px;
		margin-bottom: 22px;
	}
	
		.widget h3 {
			font-size: 18px;
			line-height: 21px;
		}
	
	h4 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:20px;
		line-height:23px;
		margin-bottom: 22px;
	}
	
	h5 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:18px;
		line-height:21px;
		margin-bottom: 22px;
	}
	
	h6 {
		font-family: 'Benton';
		font-weight: 700;
		font-size:16px;
		line-height:19px;
		margin-bottom: 22px;
	}
	
	#q {
		font-family: 'Benton';
		font-size:18px;
	}
	
	#nav li a {
		font-family: 'Benton';
		font-weight: 700;
		font-size:16px;
	}
	
	#utility li a {
		font-family: 'Capita';
		font-weight: 400;
		font-size:16px;
		font-style: italic;
	}	
}





/* START: group 4 (headings / body): pressura / benton
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

.f4 {
	font-family: 'Benton';
	font-weight: 400;
	font-size:16px;
	line-height:28px;
	
	p {
		font-family: 'Benton';
		font-weight: 400;
		font-size:16px;
		line-height:28px;
		margin-bottom: 24px;
	}
	
	h1 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:40px;
		text-transform: uppercase;
		line-height:43px;
		margin-bottom: 22px;
	}
	
	h2 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:35px;
		text-transform: uppercase;
		line-height:38px;
		margin-bottom: 22px;
	}
	
	h3 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:30px;
		text-transform: uppercase;
		line-height:33px;
		margin-bottom: 22px;
	}
	
		.widget h3 {
			font-size: 20px;
			line-height: 23px;
		}
	
	h4 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:24px;
		text-transform: uppercase;
		line-height:27px;
		margin-bottom: 22px;
	}
	
	h5 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:20px;
		text-transform: uppercase;
		line-height:23px;
		margin-bottom: 22px;
	}
	
	h6 {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:18px;
		text-transform: uppercase;
		line-height:21px;
		margin-bottom: 22px;
	}
	
	#q {
		font-family: 'Pressura';
		font-size:18px;
		text-transform: uppercase;
	}
	
	#nav li a {
		font-family: 'Pressura';
		font-weight: 700;
		font-size:18px;
		text-transform: uppercase;
	}
	
	#utility li a {
		font-family: 'Capita';
		font-weight: 400;
		font-size:16px;
		font-style: italic;
	}	
}





/* START: group 5 (headings / body): stag / benton
----------------------------------------------------------------- */

/*
100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

.f5 {
	font-family: 'Benton';
	font-weight: 400;
	font-size:16px;
	line-height:28px;
	
	p {
		font-family: 'Benton';
		font-weight: 400;
		font-size:16px;
		line-height:28px;
		margin-bottom: 24px;
	}
	
	h1 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:40px;
		line-height:43px;
		margin-bottom: 22px;
	}
	
	h2 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:35px;
		line-height:38px;
		margin-bottom: 22px;
	}
	
	h3 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:30px;
		line-height:33px;
		margin-bottom: 22px;
	}

		.widget h3 {
			font-size: 20px;
			line-height: 23px;
		}

	h4 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:25px;
		line-height:28px;
		margin-bottom: 22px;
	}
	
	h5 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:20px;
		line-height:23px;
		margin-bottom: 22px;
	}
	
	h6 {
		font-family: 'Stag';
		font-weight: 500;
		font-size:16px;
		line-height:19px;
		margin-bottom: 22px;
	}
	
	#q {
		font-family: 'Stag';
		font-size:18px;
	}
	
	#nav li a {
		font-family: 'Stag';
		font-weight: 500;
		font-size:18px;
	}
	
	#utility li a {
		font-family: 'Stag';
		font-weight: 400;
		font-size:16px;
		font-style: italic;
	}	
}