/* START: variables
----------------------------------------------------------------- */

/* branding typography
------------------------ */

$font-branding: 'Whitney SSm A', 'Whitney SSm B';





/* colors
------------------------ */

$black: #000000;
$white: #ffffff;
$gray_darkest: #151515;
$gray_darker: #222222;
$gray_dark: #333333;
$gray_light: #7a7a7a;
$gray_lighter: #9f9f9f;





/* grid
------------------------ */

$XS: 500px;
$S: 768px;
$M: 992px;
$L: 1200px;

/* .container,
#bottom-content-area div
widths  */

$container_S: 750px;
$container_M: 970px;
$container_L: 1170px;