/* START: variables
----------------------------------------------------------------- */

/* typography */

$font-branding: 'Whitney SSm A', 'Whitney SSm B';





/* grid
------------------------ */

$XS: 500px;
$S: 768px;
$M: 992px;
$L: 1200px;

/* .container,
#bottom-content-area div
widths  */

$container_S: 750px;
$container_M: 970px;
$container_L: 1170px;