$_customizer-selected-color: #288dbb;
$_customizer-selected-shadow: 0 0 20px 0 rgba( 181, 181, 181, 1 );
$_customizer-description-color: #999;
$_customizer-layout-sprite-height: 47px;
$_customizer-layout-sprite-width: 75px;

$color-grayscale-f: #fff;
$color-grayscale-c: #ccc;
$color-grayscale-0: #000;

// Customizer: Layout
#burf_setting_layout {
	li {
		margin-bottom: 10px;
		min-height: $_customizer-layout-sprite-height;
		padding: 8px;
		padding-right: $_customizer-layout-sprite-width + 8px;
		position: relative;

		&::after {
			clear: both;
			content: "";
			display: table;
		}
	}

	.customize-control-radio & input {
		margin-left: 0;
	}

	// Active styles
	input:checked + label::before {
		background: lighten( $_customizer-selected-color, 50% );
		border: 1px solid $_customizer-selected-color;
		border-radius: 2px;
		margin: 0;
		z-index: -1;
	}

	// Styles for the layout selector images
	label {
		font-size: 14px;
		font-weight: bold;
		z-index: 2;

		&::before {
			box-sizing: border-box;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		// For everyone
		&::after {
			background: url( "layouts-ui.png" ) no-repeat 0 0 transparent;
			content: "";
			display: block;
			height: 47px;
			margin: 0 auto;
			padding: 0;
			position: absolute;
			right: 8px;
			top: 8px;
			width: 75px;
		}

		// For specific layouts
		&[for="burf_setting_layout_default"]::after {
			background-position: 0 0;
		}

		&[for="burf_setting_layout_top-nav"]::after {
			background-position: 0 ( -$_customizer-layout-sprite-height );
		}

		&[for="burf_setting_layout_side-nav"]::after {
			background-position: 0 ( -$_customizer-layout-sprite-height * 2 );
		}

		&[for="burf_setting_layout_mega-nav"]::after {
			background-position: 0 ( -$_customizer-layout-sprite-height * 3 );
		}

		&[for="burf_setting_layout_no-nav"]::after {
			background-position: 0 ( -$_customizer-layout-sprite-height * 4 );
		}
	}
}

.ui-context {
	display: block;
	font-size: 13px;
	font-weight: 400;
	margin-left: 24px;
}

// Customizer: Fonts Import

@import "customizer/font-palettes/fonts/benton";

@import "customizer/font-palettes/fonts/capita-bold";

@import "customizer/font-palettes/fonts/capita";

@import "customizer/font-palettes/fonts/pressura";

@import "customizer/font-palettes/fonts/tiempos";

@import "customizer/font-palettes/palettes";

// Customizer: Fonts
#burf_setting_fonts {
	label {
		color: $color-grayscale-0;
		display: block;
		padding: 1em 0.5em;
	}

	input {
		display: none;
	}

	input:checked + label {
		border: 4px solid $_customizer-selected-color;
		margin: -4px;
	}

	span {
		display: block;

		&:first-child {
			font-size: 1.9em;
			margin-bottom: 0.5em;
		}

		& + span {
			font-size: 14px;
		}
	}
}

@each $palette, $map in $font-palettes {
	.#{$palette}-font-title {
		font-family: map-get( $map, "heading" ), map-get( $map, "heading-fallback" );
		text-transform: map-get( $map, "heading-case" );

		@if map-get( $map, "heading-weight" ) {
			font-weight: map-get( $map, "heading-weight" );
		} @else {
			font-weight: 700;
		}
	}

	.#{$palette}-font-body {
		font-family: map-get( $map, "body" ), map-get( $map, "body-fallback" );
		text-transform: map-get( $map, "body-case" );

		@if map-get( $map, "body-weight" ) {
			font-weight: map-get( $map, "body-weight" );
		} @else {
			font-weight: 400;
		}
	}
}

#burf_setting_colors {
	li {
		margin-bottom: 15px;
	}

	label {
		background: $color-grayscale-f;
		border: 1px solid $color-grayscale-c;
		color: $color-grayscale-0;
		display: block;
		font-weight: bold;
		opacity: 0.6;
		padding: 0.5em;
		position: relative;
		transform: scale( 0.97 );
		transition:
			box-shadow 0.3s ease,
			opacity 0.3s ease,
			transform 0.3s ease;

		&::before {
			content: "";
			display: block;
			height: 50px;
			margin-bottom: 5px;
			margin-left: -0.5em;
			margin-right: -0.5em;
		}

		&:hover {
			box-shadow: $_customizer-selected-shadow;
			opacity: 1;
			transform: scale( 1 );
			transition:
				box-shadow 0.3s ease,
				opacity 0.3s ease,
				transform 0.3s ease;
		}
	}

	input {
		display: none;
	}

	input:checked + label {
		border: 4px solid $_customizer-selected-color;
		box-shadow: $_customizer-selected-shadow;
		margin: -4px;
		opacity: 1;
		transform: scale( 1 );
	}

	span {
		display: block;

		&:first-child {
			font-size: 1.9em;
			margin-bottom: 0.5em;
		}

		& + span {
			font-size: 14px;
		}
	}
}

@import "customizer/color-palettes/palettes";

@each $palette, $map in $color-palettes {
	$color-primary: map-get( $map, "color-primary" );
	$color-secondary: map-get( $map, "color-secondary" );
	$color-tertiary: map-get( $map, "color-tertiary" );
	$color-dark: map-get( $map, "color-dark" );

	label[for="burf_setting_colors_#{$palette}"]::before {
		background: $color-primary; // Old browsers
		background: -moz-linear-gradient( top, $color-primary 25%, $color-secondary 25%, $color-secondary 50%, $color-tertiary 50%, $color-tertiary 75%, $color-dark 75% ); // FF3.6-15
		background: -webkit-linear-gradient( top, $color-primary 25%, $color-secondary 25%, $color-secondary 50%, $color-tertiary 50%, $color-tertiary 75%, $color-dark 75% ); // Chrome10-25,Safari5.1-6
		background: linear-gradient( to right, $color-primary 25%, $color-secondary 25%, $color-secondary 50%, $color-tertiary 50%, $color-tertiary 75%, $color-dark 75% ); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
		filter: progid:DXImageTransform.Microsoft.gradient( startcolorstr="$color-primary", endcolorstr="$color-tertiary", gradienttype=0 ); // IE6-9
	}
}

// Customizer: Other
#customize-control-burf_setting_color_scheme {
	.customize-control-title {
		display: none;
	}
}

#accordion-section-bu_branding {
	.customize-control-description {
		color: $_customizer-description-color;
		display: none;
	}

	.customize-section-description {
		p {
			margin-top: 1em;
		}
	}

	[disabled] + .customize-control-description {
		display: block;
	}
}

#customize-control-bu_branding-has_disclaimer {
	.customize-control-description {
		display: block;
	}
}

#customize-control-burf_setting_sidebar_options {
	.description {
		font-style: normal;
	}
}

// Galleries
.logged-in.admin-bar {
	.lg-outer {
		margin-top: 32px;
	}
}
