$_customizer-selected-color: #288dbb;
$_customizer-description-color: #999;

// Customizer: Shared
%admin-sprite-input {
	input {
		display: none;
	}

	// Active styles
	input:checked + label::after {
		border: 4px solid $_customizer-selected-color;
		margin: 0;
	}
}

%admin-sprite-label {
	display: inline-block;
	font-size: 0;
	height: auto;
	width: auto;
}

%admin-sprite-background {
	background: url( "admin_sprite.png" ) no-repeat 0 0 transparent;
	content: "";
	display: block;
	margin: 4px;
}

// Customizer: Layout
#burf_setting_layout {
	@extend %admin-sprite-input;

	// Styles for the layout selector images
	label {
		@extend %admin-sprite-label;
		margin-left: 0;

		// For everyone
		&::after {
			@extend %admin-sprite-background;
			height: 129px;
			margin: 0 auto;
			padding: 4px;
			width: 227px;
		}

		// For specific layouts
		&[for="burf_setting_layout_default"]::after {
			background-position: 0 0;
		}

		&[for="burf_setting_layout_top-nav"]::after {
			background-position: 0 -150px;
		}

		&[for="burf_setting_layout_side-nav"]::after {
			background-position: 0 -300px;
		}

		&[for="burf_setting_layout_no-nav"]::after {
			background-position: -300px 0;
		}
	}
}

// Customizer: Fonts
#burf_setting_fonts {

	// For specific layouts
	.f1-font-title {
		font-family: "Benton-Sans", sans-serif;
		font-size : 20px;
		display: block;
	}
	.f1-font-body {
		font-family: sans-serif;
		font-size: 14px;
		display: block;
	}
	.f2-font-title {
		font-family: "Capita";
		font-size : 20px;
		display: block;
	}
	.f2-font-body {
		font-family: Georgia, serif;
		font-size: 14px;
		display: block;
	}
	.f3-font-title {
		font-family: "Benton-Sans";
		font-size : 20px;
		display: block;
	}
	.f3-font-body {
		font-family: "Capita";
		font-size: 14px;
		display: block;
	}
	.f4-font-title {
		font-family: "Tiempos";
		font-size : 20px;
		display: block;
	}
	.f4-font-body {
		font-family: "Tiempos";
		font-size: 14px;
		display: block;
	}
	.f5-font-title {
		font-family: "Pressura";
		font-size : 20px;
		display: block;
	}
	.f5-font-body {
		font-family: sans-serif;
		font-size: 14px;
		display: block;
	}
}

// Customizer: Other
#customize-control-burf_setting_color_scheme {
	.customize-control-title {
		display: none;
	}
}

#accordion-section-bu_branding {
	.customize-control-description {
		color: $_customizer-description-color;
		display: none;
	}

	.customize-section-description {
		p {
			margin-top: 1em;
		}
	}

	[disabled] + .customize-control-description {
		display: block;
	}
}

#customize-control-bu_branding-has_disclaimer {
	.customize-control-description {
		display: block;
	}
}

#customize-control-burf_setting_sidebar_options {
	.description {
		font-style: normal;
	}
}

// Galleries
.logged-in.admin-bar {
	.lg-outer {
		margin-top: 32px;
	}
}
