// =================================================================
// Palette Controls
// =================================================================

$current-palette:                     map-get( $color-palettes, $palette-id );
$use-background-colors:               map-get( $current-palette, 'use-background-colors' );
$content-bg:                          #fff !default;
$border-adjust-amt:                   15% !default;
$adjust-base:                         #fff;

// =================================================================
// Palette Colors
// =================================================================

$color-primary:                       map-get( $current-palette, 'color-primary' );
$color-secondary:                     map-get( $current-palette, 'color-secondary' );
$color-secondary-dark:                mix( #000, $color-secondary, 50% );
$color-tertiary:                      map-get( $current-palette, 'color-tertiary' );
$color-dark:                          map-get( $current-palette, 'color-dark' );

// =================================================================
// Content Colors
// =================================================================

$content-heading:                     accessible-text( $content-bg, $color-dark, true );
$content-body:                        accessible-text( $content-bg, #000 );
$content-link:                        accessible-text( $content-bg, $color-secondary );
$content-link-hover:                  accessible-text( $content-bg, $color-secondary-dark );


$button-bg:                           $color-tertiary !default;

@if luminance( $button-bg ) > .5 {
	$adjust-base: #fff;
} @else {
	$adjust-base: #000;
}

$button-link:                         accessible-text( $button-bg, $adjust-base, true ) !default;
$button-link-hover:                   accessible-text( $button-bg, $adjust-base, true ) !default;
$quote-accent:                        $color-secondary;

// =================================================================
// Main Navigation Colors
// =================================================================

$nav-bg:                              $color-primary;

@if luminance( $nav-bg ) > .5 {
	$adjust-base: #fff;
} @else {
	$adjust-base: #000;
}

$nav-border:                          mix( $adjust-base, $color-primary, $border-adjust-amt );
$nav-link:                            accessible-text( $color-primary, $adjust-base, true );
$nav-link-hover:                      accessible-text( $color-primary, $color-tertiary, true );
$nav-utility-link:                    accessible-text( $color-primary, mix( $adjust-base, $color-primary, 60% ), true );
$nav-utility-link-hover:              accessible-text( $color-primary, mix( $adjust-base, $color-primary, 80% ), true );

$mega-toggle-bg:                      $button-bg;

@if luminance( $mega-toggle-bg ) > .5 {
	$adjust-base: #fff;
} @else {
	$adjust-base: #000;
}

$mega-toggle-link:                    accessible-text( $button-bg, $adjust-base, true );
$mega-toggle-link-hover:              accessible-text( $button-bg, $adjust-base, true );

// =================================================================
// Sidebar Colors
// =================================================================

$sidebar-bg:                          mix( #000, $color-primary, 15% ) !default;

@debug $sidebar-bg luminance( $sidebar-bg );

@if $use-background-colors == true and luminance( $sidebar-bg ) < .5 {
	$adjust-base: #fff;
} @else {
	$adjust-base: #000;
}

@debug $adjust-base;

$sidebar-widget-title:                accessible-text( $sidebar-bg, $adjust-base, true );
$sidebar-border:                      mix( $adjust-base, $sidebar-bg, 10% );
$sidebar-text:                        accessible-text( $sidebar-bg, darken( $sidebar-bg, 70% ) );
$sidebar-button-bg:                   $button-bg;
$sidebar-button-link:                 $button-link;
$sidebar-button-link-hover:           $button-link-hover;

$sidebar-link:                        accessible-text( $sidebar-bg, $color-secondary );
$sidebar-link-hover:                  accessible-text( $sidebar-bg, $adjust-base );

@if $use-background-colors == false {
	$sidebar-bg:                       transparent !default;
}

// =================================================================
// Footer Colors
// =================================================================

$footbar-bg:                          $color-dark;

$footbar-link:                        accessible-text( $footbar-bg, $color-tertiary );
$footbar-link-hover:                  accessible-text( $footbar-bg, #fff );
$footbar-widget-title:                accessible-text( $footbar-bg, #fff, true );
$footbar-border:                      mix( #fff, $footbar-bg, $border-adjust-amt );
$footbar-text:                        accessible-text( $footbar-bg, #fff );
