// =================================================================
// Palette Controls
// =================================================================

$current-palette:                     map-get( $color-palettes, $palette-id );
$use-background-colors:               map-get( $current-palette, 'use-background-colors' );
$content-bg:                          #fff !default;
$border-adjust-amt:                   15% !default;

// =================================================================
// Palette Colors
// =================================================================

$color-primary:                       map-get( $current-palette, 'color-primary' );
$color-secondary:                     map-get( $current-palette, 'color-secondary' );
$color-secondary-dark:                darken( $color-secondary, 50% );
$color-tertiary:                      map-get( $current-palette, 'color-tertiary' );
$color-dark:                          map-get( $current-palette, 'color-dark' );

// =================================================================
// Content Colors
// =================================================================

$content-heading:                     accessible-text( $content-bg, $color-dark );
$content-body:                        accessible-text( $content-bg, #000 );
$content-link:                        accessible-text( $content-bg, $color-secondary );
$content-link-hover:                  accessible-text( $content-bg, $color-secondary-dark );
$button-bg:                           $color-tertiary !default;
$button-link:                         accessible-text( $button-bg, #000 ) !default;
$button-link-hover:                   accessible-text( $button-bg, #000 ) !default;
$quote-accent:                        $color-secondary;

// =================================================================
// Main Navigation Colors
// =================================================================

$nav-bg:                              $color-primary;
$nav-border:                          lighten( $color-primary, $border-adjust-amt );
$nav-link:                            accessible-text( $color-primary, #fff, true );
$nav-link-hover:                      accessible-text( $color-primary, $color-tertiary, true );
$nav-utility-link:                    accessible-text( $color-primary, lighten( $color-primary, 40% ), true );
$nav-utility-link-hover:              accessible-text( $color-primary, lighten( $color-primary, 60% ), true );
$mega-toggle-bg:                      $button-bg;
$mega-toggle-link:                    accessible-text( $button-bg, #000 );
$mega-toggle-link-hover:              accessible-text( $button-bg, #000 );

// =================================================================
// Sidebar Colors
// =================================================================

$sidebar-bg:                          lighten( $color-primary, 65% );
$sidebar-widget-title:                accessible-text(  $sidebar-bg, #000 );
$sidebar-border:                      darken( $sidebar-bg, 10% );
$sidebar-text:                        accessible-text( $sidebar-bg, darken( $sidebar-bg, 70% ) );
$sidebar-button-bg:                   $button-bg;
$sidebar-button-link:                 $button-link;
$sidebar-button-link-hover:           $button-link-hover;

@if $use-background-colors == true and lightness( $color-primary ) > 40% {
	$sidebar-bg:                       darken( $color-primary, 15% );
	$sidebar-widget-title:             accessible-text(  $sidebar-bg, #fff );
	$sidebar-border:                   lighten( $sidebar-bg, $border-adjust-amt );
	$sidebar-text:                     accessible-text( $sidebar-bg, lighten( $sidebar-bg, 70% ) );
}

$sidebar-link:                        accessible-text( $sidebar-bg, $color-secondary );
$sidebar-link-hover:                  accessible-text( $sidebar-bg, #fff );

@if $use-background-colors == false {
	$sidebar-bg:                       transparent;
}

// =================================================================
// Footer Colors
// =================================================================

$footbar-bg:                          $color-dark;

$footbar-link:                        accessible-text( $footbar-bg, $color-tertiary );
$footbar-link-hover:                  accessible-text( $footbar-bg, #fff );
$footbar-widget-title:                accessible-text( $footbar-bg, #fff );
$footbar-border:                      lighten( $footbar-bg, $border-adjust-amt );
$footbar-text:                        accessible-text( $footbar-bg, #fff );
