// =================================================================
// Palette Controls
// =================================================================

$_adjust-base:                        $color-grayscale-f;

$current-palette:                     map-get( $color-palettes, $palette-id );
$use-background-colors:               map-get( $current-palette, "use-background-colors" );
$border-adjust-amt:                   15% !default;

// =================================================================
// Palette Colors
// =================================================================

$color-primary:                       map-get( $current-palette, "color-primary" );
$color-secondary:                     map-get( $current-palette, "color-secondary" );
$color-secondary-dark:                mix( $color-grayscale-0, $color-secondary, 50% );
$color-tertiary:                      map-get( $current-palette, "color-tertiary" );
$color-dark:                          map-get( $current-palette, "color-dark" );

// =================================================================
// Content Colors
// =================================================================

$content-bg:                          $color-grayscale-f !default;
$content-heading:                     accessible-text( $content-bg, $color-dark, true ) !default;
$content-body:                        accessible-text( $content-bg, $color-grayscale-0 ) !default;
$content-link:                        accessible-text( $content-bg, $color-secondary ) !default;
$content-link-hover:                  accessible-text( $content-bg, $color-secondary-dark ) !default;


$button-bg:                           $color-tertiary !default;

@if luminance( $button-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $button-bg, 75% );
}

$button-link:                         accessible-text( $button-bg, $_adjust-base, true ) !default;
$button-link-hover:                   accessible-text( $button-bg, $_adjust-base, true ) !default;

$content-accent-bg:                   $color-secondary !default;

@if luminance( $content-accent-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: $color-grayscale-0;
}

$content-accent-text:                 accessible-text( $content-accent-bg, $_adjust-base, true ) !default;

// =================================================================
// Main Navigation Colors
// =================================================================

$nav-bg:                              $color-primary !default;

@if luminance( $nav-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $nav-bg, 75% );
}

$nav-border:                          mix( $_adjust-base, $nav-bg, $border-adjust-amt );
$nav-link:                            accessible-text( $nav-bg, $_adjust-base, true ) !default;
$nav-link-hover:                      accessible-text( $nav-bg, $color-tertiary, true ) !default;
$nav-utility-link:                    accessible-text( $nav-bg, mix( $_adjust-base, $nav-bg, 60% ), true ) !default;
$nav-utility-link-hover:              accessible-text( $nav-bg, mix( $_adjust-base, $nav-bg, 80% ), true ) !default;

$mega-toggle-bg:                      $button-bg !default;

@if luminance( $mega-toggle-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $mega-toggle-bg, 75% );
}

$mega-toggle-link:                    accessible-text( $mega-toggle-bg, $_adjust-base, true ) !default;
$mega-toggle-link-hover:              accessible-text( $mega-toggle-bg, $_adjust-base, true ) !default;

// =================================================================
// Sidebar Colors
// =================================================================

$sidebar-bg:                          mix( $color-grayscale-0, $color-primary, 15% ) !default;

// This private variable holds the true, final sidebar value after all
// other settings are accounted for. Necessary to allow overrides with
// the default flag above. Do not set directly.

$_sidebar-bg:                         $sidebar-bg;

@if $use-background-colors == true and luminance( $_sidebar-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $sidebar-bg, 75% );
}

@if $use-background-colors == false {
	$_sidebar-bg:                      $content-bg;
}

$sidebar-widget-title:                accessible-text( $_sidebar-bg, $_adjust-base, true ) !default;
$sidebar-border:                      mix( $_adjust-base, $_sidebar-bg, 10% );
$sidebar-text:                        accessible-text( $_sidebar-bg, mix( $_adjust-base, $_sidebar-bg, 70% ) );
$sidebar-button-bg:                   $button-bg !default;
$sidebar-link:                        accessible-text( $_sidebar-bg, $color-secondary ) !default;
$sidebar-link-hover:                  accessible-text( $_sidebar-bg, $_adjust-base ) !default;

@if luminance( $sidebar-button-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $sidebar-button-bg, 75% );
}

$sidebar-button-link:                 accessible-text( $sidebar-button-bg, $_adjust-base, true ) !default;
$sidebar-button-link-hover:           accessible-text( $sidebar-button-bg, $_adjust-base, true ) !default;

// =================================================================
// Footer Colors
// =================================================================

$footbar-bg:                          $color-dark !default;

@if luminance( $footbar-bg ) < 0.4 {
	$_adjust-base: $color-grayscale-f;
} @else {
	$_adjust-base: mix( $color-grayscale-0, $footbar-bg, 75% );
}

$footbar-widget-title:                accessible-text( $footbar-bg, $_adjust-base, true ) !default;
$footbar-border:                      mix( $_adjust-base, $footbar-bg, $border-adjust-amt );
$footbar-link:                        accessible-text( $footbar-bg, $color-tertiary ) !default;
$footbar-link-hover:                  accessible-text( $footbar-bg, $_adjust-base ) !default;
$footbar-text:                        accessible-text( $footbar-bg, $_adjust-base ) !default;
