$bulp-event-icon-bg:                             $color-dark !default;
$bulp-promo-btn-bg:                          $color-tertiary !default;
$bulp-promo-btn-text:                                   #FFF !default;
$bulp-register-btn-bg:                       $color-tertiary !default;
$bulp-register-btn-text:                                #FFF !default;
$bulp-category-topic-bg:                         $color-dark !default;
$bulp-bu-banner-button-bg:                    $color-primary !default;
$bulp-largepromo-button-bg:                   $color-primary !default;
$bulp-largepromo-button-text:                           #FFF !default;
$bulp-intro-title-bg:                            $color-dark !default;
$bulp-readmore-button-text:                             #333 !default;
$bulp-section-even-bg:           mix( #eee, $color-primary, 95% ) !default;
$bulp-child-nav-article-bg:      lighten( $color-dark, 80% ) !default;
$bulp-child-nav-article-hover:   lighten( $color-dark, 75% ) !default;
$bulp-child-nav-article-border:             $color-secondary !default;
$bulp-child-nav-content-border: lighten( $color-tertiary, 15% ) !default;
$bulp-border-color:								  $color-primary !default;


@media screen {

	.bulp-intro-title,
	.bulp-largepromo-title {
		color: $bulp-intro-title-bg;
	}

	.bu-banner-button {
		background-color: $bulp-bu-banner-button-bg;
	}

	.bulp-promo,
	.bulp-article {
		&::before {
			background-color: $bulp-border-color;
		}
	}

	.bulp-section:nth-child(2n+1) .bulp-child-nav-item {
		border-left-color: $bulp-border-color;
	}

	.bulp-section:nth-child(2n+1) .bulp-event {
		border-top-color: $bulp-border-color;
	}

	.bulp-promo-button {
		background-color: $bulp-promo-btn-bg;
		color: $bulp-promo-btn-text;

		&:hover {
			color: $bulp-promo-btn-text;
		}
	}

	.bulp-event-register {
		background-color: $bulp-register-btn-bg;
		color: $bulp-register-btn-text;

		&:hover {
			color: $bulp-register-btn-text;
		}
	}

	.bulp-largepromo-button {
		background-color: $bulp-largepromo-button-bg;
		color: $bulp-largepromo-button-text;

		&:hover {
			color: $bulp-largepromo-button-text;
		}
	}

	.bulp-event-readmore,
	.bulp-article-readmore {
		background-color: #eee;
		color: $bulp-readmore-button-text;

		&:hover {
			color: $bulp-readmore-button-text;
		}
	}

	.bulp-event-when:before,
	.bulp-event-where:before {
		color: $bulp-event-icon-bg;
	}

	.bulp-article-category,
	.bulp-event-topic-text {
		background-color: $bulp-category-topic-bg;
	}

	.bulp-section:nth-child(even) {
		background-color: $bulp-section-even-bg;
	}

	.bulp-child-nav-item {
		background-color: $bulp-section-even-bg;

		&:hover {
			background-color: darken( $bulp-section-even-bg, 10% );
		}
	}

	.bulp-child-nav .bulp-article {
		background-color: $bulp-child-nav-article-bg;
		border-color: $bulp-child-nav-article-border;

		&:hover {
			background-color: $bulp-child-nav-article-hover;
		}
	}

	.bulp-child-nav-content {
		border-color: $bulp-child-nav-content-border;
	}

}
