@media screen {
	// background color
	.footbar,
	.footbar-container,
	.banner-container-window-width {
		background: $color-primary;
	}

	// top border color
	.footbar {
		border-color: $color-primary;
	}

	// link color
	.footbar a,
	.footbar .widget a,
	.footbar #contentnav li a,
	.footbar .widget_nav_menu li a {
		color: accessible-text( $color-primary, $color-tertiary );

		&:hover,
		&:focus {
			color: accessible-text( $color-primary, #fff );
		}
	}

	// widget title color
	.footbar .widget-title,
	.footbar .widget-calendar-date {
		color: accessible-text( $color-primary, #fff );
	}

	// border color
	.footbar .widget-title,
	.footbar #contentnav ul,
	.footbar #contentnav li,
	.footbar .widget_nav_menu ul,
	.footbar .widget_nav_menu li,
	.footbar .widget-calendar-event {
		border-color: $color-primary-border;
	}

	// text color
	.footbar .widget,
	.footbar .widget-calendar-day-graphic,
	.footbar .widget-bu-posts .meta {
		color: accessible-text( $color-primary, lighten( $color-primary, 70% ) );
	}
}