@media screen {
	// Nav menu background color
	.l-side-nav .wrapper,
	.primary-nav,
	.primary-nav-menu ul,
	.l-side-nav {
		background: $color-primary;
	}

	// Nav menu toggles and text colors
	.primary-nav-menu a,
	.primary-nav-menu li li a,
	.l-side-nav .primary-nav-menu a {
		color: accessible-text( $color-primary, #fff );
		border-color: $color-primary-border;

		&:hover,
		&:focus {
			color: accessible-text( $color-primary, $color-tertiary );
		}
	}

	.nav-toggle span,
	.search-toggle::before,
	.nav-toggle span::before,
	.nav-toggle span::after {
		color: accessible-text( $color-primary, #fff );
	}

	// Utility nav in left hand nav layout
	.l-side-nav .utility-nav a {
		color: accessible-text( $color-primary, $color-primary-40 );

		&:hover,
		&:focus {
			color: accessible-text( $color-primary, $color-primary-60 );
		}
	}
}