$color-palettes: (
	slacker: (
		sidebar-bg: true,
		// navigation.
		primary-nav-bg: #24243a, // background.
		primary-nav-border: #3c3c50, // border color.
		primary-nav-link: #ffffff, // primary nav links.
		primary-nav-link-hover: #9f9fec, // primary links hover.

		utility-nav-link: #7c7c9d, // utility nav links.

		// content area.
		heading-color: #24243a, // headings.
		body-color: #24243a, // text color.
		link-color: #A06C1A, // link color.
		link-hover-color: #000000, // link hovers.
		button-bg: #4fc3a0, // button color.
		button-color: #ffffff, // button text color.

		// sidebar.
		widget-bg: #494971, // widget bg.
		widget-title: #ffffff, // widget title.
		widget-title-border: #6a6a9d, // widget title border.
		widget-link: #ecb438, // links.
		widget-link-hover: #ffffff, // link hovers.
		widget-text-color: #ffffff, // text color.

		// footbar.
		footer-bg: #1a1a22, // background.
		footer-border: #1a1a22, // top border.
		footer-widget-title: #ffffff, // widget title.
		footer-widget-title-border: #323242, // widget title border.
		footer-widget-link: #ecb438, // link colors.
		footer-widget-link-hover: #ffffff, // link hover colors.
		footer-widget-text: #8080a2, // text color.
	),
);

$current-palette: map-get( $color-palettes, $palette-id );

@if map-get( $current-palette, 'sidebar-bg' ) == true {
	.widget {
		background: map-get( $current-palette, 'widget-bg' );
		padding: 24px;
	}

	.footbar .widget {
		background: transparent;
		padding: 0;
	}
}

@media screen {

	/* navigation bar and links
	----------------------------------------------------------------- */
		/* navbar bg color */
		.l-side-nav .wrapper,
		.primary-nav,
		.primary-nav-menu ul,
		.l-side-nav {
			background: map-get( $current-palette, 'primary-nav-bg' );
		}

		.primary-nav,
		.primary-nav-menu ul,
		.primary-nav-menu a,
		.search-toggle::before {
			color: map-get( $current-palette, 'primary-nav-link' );
		}

		/* main nav and nav border color */
		.primary-nav-menu a,
		.l-side-nav .primary-nav-menu a {
			border-color: map-get( $current-palette, 'primary-nav-border' );
		}

		/* main nav and nav border color */
		.nav-toggle span,
		.nav-toggle span::before,
		.nav-toggle span::after {
			background-color: map-get( $current-palette, 'primary-nav-link' );
		}

		/* utility nav color */
		.l-side-nav .utility-nav a {
			color: map-get( $current-palette, 'utility-nav-link' );
		}

		/* main nav and utility nav hover color */
		.primary-nav-menu a:hover,
		.primary-nav-menu a:focus,
		.l-side-nav .utility-nav a:hover,
		.l-side-nav .utility-nav a:focus,
		.primary-nav-menu li a.active,
		.primary-nav-menu li a.active_section,
		.primary-nav-menu li li a:hover,
		.primary-nav-menu li li a:focus {
			color: map-get( $current-palette, 'primary-nav-link-hover' );
		}

		/* content area
		----------------------------------------------------------------- */

		/* heading color */
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: map-get( $current-palette, 'heading-color' );
		}

		/* text color */
		body {
			color: map-get( $current-palette, 'body-color' );
		}

		/* link color */
		a,
		.widget a,
		.widget a:hover,
		.widget a:focus,
		.calendar-list-event-link,
		.calendar-list-event-link:focus,
		.bu_collapsible::before,
		.profile-name {
			color: map-get( $current-palette, 'link-color' );
		}

		/* link hover color */
		a:hover,
		.calendar-list-event-link:hover,
		.bu_collapsible:hover::before,
		.bu_collapsible:focus::before,
		.month td a:hover {
			color: map-get( $current-palette, 'link-hover-color' );
		}

		/* buttons */
		input[type="submit"],
		.button,
		.button-primary,
		.button-selected,
		#quicksearch .button,
		.paging-navigation a,
		.archive-link {
			color: map-get( $current-palette, 'button-bg' );
			color: map-get( $current-palette, 'button-color' );
		}

		input[type="submit"]:hover,
		.button:hover,
		.button-primary:hover,
		.button-selected:hover,
		#quicksearch .button:hover,
		.paging-navigation a:hover,
		.archive-link:hover {
			color: map-get( $current-palette, 'button-color' );
		}

		/* blockquotes */
		blockquote {
			border-color: map-get( $current-palette, 'link-color' );
		}

		blockquote:before {
			color: map-get( $current-palette, 'link-color' );
		}
	} /* End screen media query */

@media screen {

	/* sidebar area
	----------------------------------------------------------------- */

	/* widget border color */
	.widget-title,
	#contentnav ul,
	#contentnav li,
	.widget_nav_menu ul,
	.widget_nav_menu li,
	.widget-calendar-event,
	.month,
	.widget-calendar-picker th,
	.widget-calendar-picker td {
		border-color: map-get( $current-palette, 'widget-title-border' );
	}

	.widget-title {
		color: map-get( $current-palette, 'widget-title' );
	}

	/* text color */
	.widget,
	.widget-calendar-picker th,
	.widget-calendar-picker caption {
		color: map-get( $current-palette, 'widget-text' );
	}

	/* link color */
	.widget a,
	#contentnav li a,
	.widget_nav_menu li a {
		color: map-get( $current-palette, 'widget-link' );
	}

	/* link hover color */
	.widget a:hover,
	#contentnav li a:hover,
	.widget_nav_menu li a:hover,
	#contentnav li.current_page_item > a,
	.widget_nav_menu li.current_page_item > a{
		color: map-get( $current-palette, 'widget-link-color' );
	}

	/* buttons */
	.widget a.button,
	.widget a.button:hover,
	.widget a.button:focus,
	.widget a.button-primary,
	.widget a.button-primary:hover,
	.widget a.button-primary:focus {
		color: map-get( $current-palette, 'button-color' );
	}

/* footbar area
----------------------------------------------------------------- */


	/* background color */
	.footbar,
	.footbar-container,
	.banner-container-window-width {
		background: map-get( $current-palette, 'footer-bg' );
	}

	/* top border color */
	.footbar {
		border-color: map-get( $current-palette, 'footer-border' );
	}

	/* link color */
	.footbar a,
	.footbar .widget a,
	.footbar #contentnav li a,
	.footbar .widget_nav_menu li a {
		color: map-get( $current-palette, 'footer-widget-link' );
	}

	/* widget title color */
	.footbar .widget-title,
	.footbar .widget-calendar-date {
		color: map-get( $current-palette, 'footer-widget-title' );
	}

	/* border color */
	.footbar .widget-title,
	.footbar #contentnav ul,
	.footbar #contentnav li,
	.footbar .widget_nav_menu ul,
	.footbar .widget_nav_menu li,
	.footbar .widget-calendar-event {
		border-color: map-get( $current-palette, 'footer-widget-title-border' );
	}

	/* link hover color */
	.footbar .widget a:hover,
	.footbar #contentnav li a:hover,
	.footbar .widget_nav_menu li a:hover {
		color: map-get( $current-palette, 'footer-widget-link-hover' );
	}

	/* text color */
	.footbar .widget,
	.footbar .widget-calendar-day-graphic,
	.footbar .widget-bu-posts .meta {
		color: map-get( $current-palette, 'footer-widget-text' );
	}

	/* non-configurable styles
	----------------------------------------------------------------- */

	.comment-respond,
	#quicksearch,
	.l-side-nav #quicksearch,
	.message,
	.single .content-area .meta,
	.single-event-schedule,
	.single-profile .profile-info {
		background: #f5f8ff;
		border-color: #dfdfea;
	}

	/* calendar table */
	.widget-calendar-picker thead,
	.widget-calendar-picker th,
	.widget-calendar-picker .out,
	.widget-calendar-picker .today {
		background: rgba(0,0,0,0.15);
	}

	.utility-nav a,
	a:active,
	a:visited,
	.widget-title a,
	.widget-post-meta {
		color: inherit;
	}

}