@media screen {
// content area

	// heading color
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: accessible-text( #fff, $color-secondary );
	}

	// text color
	body {
		color: accessible-text( #fff, $color-secondary-dark );
	}

	// link color
	a,
	.widget a,
	.widget a:hover,
	.widget a:focus,
	.calendar-list-event-link,
	.calendar-list-event-link:focus,
	.bu_collapsible::before,
	.profile-name,
	.month td a {
		color: accessible-text( #fff, $color-tertiary );

		&:hover,
		&:focus {
			color: accessible-text( #fff, $color-secondary-dark );
		}
	}

	// buttons
	input[type="submit"],
	.button,
	.button-primary,
	.button-selected,
	#quicksearch .button,
	.paging-navigation a,
	.archive-link {
		background-color: $color-secondary;
		color: accessible-text( $color-secondary, #000 );

		&:hover,
		&:focus {
			color: accessible-text( $color-secondary, #000 );
		}
	}

	// blockquotes
	blockquote {
		border-color: $color-tertiary;
	}

	blockquote:before {
		color: $color-tertiary;
	}
}