@media screen {
/* content area
	----------------------------------------------------------------- */

	/* heading color */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: map-get( $current-palette, 'heading-color' );
	}

	/* text color */
	body {
		color: map-get( $current-palette, 'body-color' );
	}

	/* link color */
	a,
	.widget a,
	.widget a:hover,
	.widget a:focus,
	.calendar-list-event-link,
	.calendar-list-event-link:focus,
	.bu_collapsible::before,
	.profile-name {
		color: map-get( $current-palette, 'link-color' );
	}

	/* link hover color */
	a:hover,
	.calendar-list-event-link:hover,
	.bu_collapsible:hover::before,
	.bu_collapsible:focus::before,
	.month td a:hover {
		color: map-get( $current-palette, 'link-hover-color' );
	}

	// buttons
	input[type="submit"],
	.button,
	.button-primary,
	.button-selected,
	#quicksearch .button,
	.paging-navigation a,
	.archive-link {
		background-color: $color-secondary;
		color: accessible-text( $color-secondary-dark, #fff );

		&:hover {
			color: accessible-text( $color-secondary-dark, #fff );
		}
	}

	/* blockquotes */
	blockquote {
		border-color: map-get( $current-palette, 'link-color' );
	}

	blockquote:before {
		color: map-get( $current-palette, 'link-color' );
	}
} /* End screen media query */