// =================================================================
// Palette Controls
// =================================================================

$current-palette:                     map-get( $color-palettes, $palette-id );
$use-background-colors:               map-get( $current-palette, 'use-background-colors' );
$content-bg:                          #fff !default;
$border-lighten-amt:                  15% !default;

// =================================================================
// Palette Colors
// =================================================================

$color-primary:                       map-get( $current-palette, 'color-primary' );
$color-secondary:                     map-get( $current-palette, 'color-secondary' );
$color-secondary-dark:                mix( #000, $color-secondary, 50% );
$color-tertiary:                      map-get( $current-palette, 'color-tertiary' );
$color-dark:                          map-get( $current-palette, 'color-dark' );

// =================================================================
// Content Colors
// =================================================================

$content-heading:                     accessible-text( $content-bg, $color-secondary, true );
$content-body:                        accessible-text( $content-bg, $color-secondary-dark );
$content-link:                        accessible-text( $content-bg, $color-tertiary );
$content-link-hover:                  accessible-text( $content-bg, $color-secondary-dark );
$button-bg:                           $color-secondary !default;
$button-link:                         accessible-text( $button-bg, #000, true ) !default;
$button-link-hover:                   accessible-text( $button-bg, #000, true ) !default;
$quote-accent:                        $color-tertiary;

// =================================================================
// Main Navigation Colors
// =================================================================

$nav-bg:                              $color-primary;
$nav-border:                          mix( #fff, $color-primary, $border-lighten-amt );
$nav-link:                            accessible-text( $color-primary, #fff, true );
$nav-link-hover:                      accessible-text( $color-primary, $color-tertiary, true );
$nav-utility-link:                    accessible-text( $color-primary, lighten( $color-primary, 40% ) );
$nav-utility-link-hover:              accessible-text( $color-primary, lighten( $color-primary, 60% ) );
$mega-toggle-bg:                      $color-secondary;
$mega-toggle-link:                    accessible-text( $mega-toggle-bg, #000, true );
$mega-toggle-link-hover:              accessible-text( $mega-toggle-bg, #000, true );

// =================================================================
// Sidebar Colors
// =================================================================

$sidebar-bg:                          mix( #fff, $color-primary, 10% );
$sidebar-button-bg:                   $button-bg;
$sidebar-button-link:                 $button-link;
$sidebar-button-link-hover:           $button-link-hover;

@if lightness( $color-primary ) > 30% {
	$sidebar-bg:                       darken( $color-primary, 10% );
}

$sidebar-widget-title:                accessible-text( #fff, $sidebar-bg, true );
$sidebar-border:                      mix( #fff, $sidebar-bg, $border-lighten-amt );
$sidebar-text:                        accessible-text( lighten( $sidebar-bg, 70% ), $sidebar-bg );
$sidebar-link:                        accessible-text( $sidebar-bg, $color-tertiary );
$sidebar-link-hover:                  accessible-text( $sidebar-bg, #fff );

@if $use-background-colors {
	$sidebar-widget-title:             accessible-text( $sidebar-bg, #fff, true );
	$sidebar-text:                     accessible-text( $sidebar-bg, lighten( $sidebar-bg, 70% ) );
}

// =================================================================
// Footer Colors
// =================================================================

$footbar-bg:                       $color-dark;
$footbar-link:                     accessible-text( $footbar-bg, $color-tertiary );
$footbar-link-hover:               accessible-text( $footbar-bg, #fff );
$footbar-widget-title:             accessible-text( $footbar-bg, #fff, true );
$footbar-border:                   mix( #fff, $footbar-bg, $border-lighten-amt );
$footbar-text:                     accessible-text( $footbar-bg, lighten( $color-dark, 70% ) );
