$palette-id: 'comm-ave';

@import 'styles-base';

$border-lighten-amt: 7%;

$current-palette:                     map-get( $color-palettes, $palette-id );
$color-tertiary: map-get( $current-palette, 'color-tertiary' );

@import 'triad';

$sidebar-bg:                          $color-secondary;
$sidebar-border:                      lighten( $sidebar-bg, $border-lighten-amt );
$sidebar-link:                        accessible-text( $sidebar-bg, #fff );
$content-heading:                     accessible-text( $content-bg, $color-tertiary, true );
$mega-toggle-bg:                      $color-secondary;
$mega-toggle-link:                    accessible-text( $mega-toggle-bg, #fff );
$mega-toggle-link-hover:              accessible-text( $mega-toggle-bg, #fff );
$sidebar-button-bg:                   $color-tertiary;
$sidebar-button-link:                 accessible-text( $color-tertiary, #fff, true );
$sidebar-button-link-hover:           accessible-text( $color-tertiary, #fff, true );
$footbar-link:                        accessible-text( $footbar-bg, lighten( $color-secondary, 10% ) );

@import 'styles-navigation';
@import 'styles-content';
@import 'styles-sidebar';
@import 'styles-footer';