$palette-id: 'rayleigh-scattering';

@import 'styles-base';

$current-palette: map-get( $color-palettes, $palette-id );
$color-primary: map-get( $current-palette, 'color-primary' );
$color-secondary: map-get( $current-palette, 'color-secondary' );
$color-dark: map-get( $current-palette, 'color-dark' );

$sidebar-bg: #E1F0F5;

$bulp-bu-banner-button-bg: #dd3400;
$bulp-bu-banner-button-bg: #dd3400;
$bulp-largepromo-button-bg: #dd3400;
$bulp-article-btn-bg: #dd3400;
$bulp-promo-btn-bg: #dd3400;
$bulp-register-btn-bg: $color-primary;
$bulp-child-nav-article-border:             $color-primary;
$bulp-event-bg: mix( $color-primary, #fff, 15% );
$bulp-category-topic-bg: $color-dark;
$bulp-event-color: $color-dark;
$bulp-event-icon-bg: $color-primary;
$bulp-event-divider:                     darken( $bulp-event-bg, 10% );
$bulp-event-readmore-bg: #FF732F;
$bulp-event-readmore-color: $color-dark;
$bulp-section-even-bg: mix( $color-primary, #fff, 10% );

//$mega-toggle-bg: #15b6ff;
//$nav-bg: #00405d;

@import 'complimentary';

@import 'styles-navigation';
@import 'styles-content';
@import 'styles-sidebar';
@import 'styles-footer';
@import 'complimentary';

@import 'styles-navigation';
@import 'styles-content';
@import 'styles-sidebar';
@import 'styles-footer';
@import 'styles-bulp';

.bu-banner-button {
	color: $color-grayscale-f;
}