$palette-id: 'slacker';

@import 'styles-base';

$content-body: #000;
$sidebar-link: #ECB438;

@import 'triad';

@import 'styles-navigation';
@import 'styles-content';
@import 'styles-sidebar';
@import 'styles-footer';
@import 'styles-bulp';