$palette-id: 'vinca-minor';

@import 'styles-base';

$current-palette:                     map-get( $color-palettes, $palette-id );
$button-bg:                           map-get( $current-palette, 'color-primary' );
$button-link:                         accessible-text( $button-bg, #fff );
$button-link-hover:                   accessible-text( $button-bg, #fff );
$mega-toggle-bg:                      map-get( $current-palette, 'color-primary' );
$mega-toggle-link:                    accessible-text( $mega-toggle-bg, #fff );
$mega-toggle-link-hover:              accessible-text( $mega-toggle-bg, #fff );

@import 'complimentary';

@import 'styles-navigation';
@import 'styles-content';
@import 'styles-sidebar';
@import 'styles-footer';

#quicksearch .button {
	background: #cf4704;
}
