form#branding-form div.section
{
	margin-bottom: 2em;
}

form#branding-form div.section div.head
{
	font-weight: bold;
	width: 200px;
	text-align: right;
	margin-right: 2em;
	display: block;
	float: left;
}

form#branding-form div.section div.inputs
{
	display: inline-block;
}

form#branding-form label
{
	display: block;
}

div#samples
{
	margin-top: 10px;
	height: 50px;
}

div#extra-field
{
	height: 50px;
}

div#current-logo
{
	padding: 1em 1.5em;
}

.hint
{
	color: #777;
	font-size: 0.85em;
	margin-top: 0.25em;
}

#cp-wrapper
{
	position: relative;
}

#text-color
{
	width: 100px;
}

#colorpicker
{
	position: absolute;
	bottom: -70px;
	left: 130px;
	background-color: rgba(100, 100, 100, 0.75);
	padding: 8px;
	border: solid 5px #444;
}

#text-header
{
	width: 25em;
}

.current-logo img
{
	border: solid 3px #444;
	padding: 8px;
	margin-bottom: 20px;
}

#header-preview
{
	display: none;
	width: 100%;
}

	#header-preview iframe
	{
		width: 100%;
	}